<div class=container>
  <div class="page-header">
    <h1 class="title">Add Message</h1>
  </div>
  <div>
    <form>
      <div class="row">
        <label class="item item-input ">
          <textarea rows="10" cols="30" ng-model="message.message" placeholder="Type your messsage here"></textarea>
       </label>
       <div class="row">
            <button class="button button-block button-negative" ng-click="closeLogin()">Cancel</button>
             <button class="button button-block button-positive" ng-click="saveMessage()">Save</button>
  </div>
      </div>
    </form>
  </div>
</div>
