    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row">   
            <div class="col-xs-2 col-xs-offset-1"><strong>Customer Comments </strong> <label for="sortOrder"></div>
                <div class="col-xs-7">  Sort By:</label><input id="sortOrder" type="text" ng-model="sortOrder"/></div>
            </div>
            <div class="row">
            
            <div class="col-xs-9 col-xs-offset-1" ng-repeat="comment in dish.comments | orderBy:sortOrder"  >
                <blockquote>
                <p>{{comment.rating}} Stars</p>    
                <p>{{comment.comment}}</p>
                <footer>{{comment.author}}, {{comment.date | date}} </footer>    
                </blockquote>
            </div>
            </div>
            <div class="row">
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                
                <ul class="list-unstyled" ng-hide="commentForm.$pristine || commentForm.$invalid">
              <blockquote>
                <p> {{mycomment.rating}} Stars</p>    
                <p> {{mycomment.comment}}</p>
                <footer>{{mycomment.author}}</footer>    
                </blockquote>    
                </ul>
                
           
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                      <div class="form-group" ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                          <label for="name" class="col-sm-2 control-label">Your Name:</label>
                          <input class="col-sm-10" type="text" name="name" id="name" ng-model="mycomment.author" required>
                          <p ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">Your name is required.</p>    
                      </div>      
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Number of stars: </label>
                          <input name ="radioGroup" type="radio" value="1" ng-model="mycomment.rating" >1
                          <input name ="radioGroup" type="radio" value="2" ng-model="mycomment.rating" >2
                          <input name ="radioGroup" type="radio" value="3" ng-model="mycomment.rating" >3
                          <input name ="radioGroup" type="radio" value="4" ng-model="mycomment.rating" >4
                          <input name ="radioGroup" type="radio" value="5" ng-model="mycomment.rating" >5
                    </div>
                     <div class="form-group" ng-class="{ 'has-error' : commentForm.thiscomment.$error.required && !commentForm.thiscomment.$pristine }">
                         <label for="thiscomment" class="col-sm-2 control-label">Comments: </label>
                         <textarea class="col-sm-10" rows="5" name="thiscomment" id="thiscomment" ng-model="mycomment.comment" required></textarea>
                         <p class="col-sm-10 col-sm-offset-2 help-block"  ng-show="commentForm.thiscomment.$error.required && !commentForm.thiscomment.$pristine" 
                            >Your comments are required.</p>   
                    </div>
                    
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>

    </div>
