<!-- color 0, 163 219 - 00x3DB -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container"  ng-controller="HeaderCtrl">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img ng-src="{{baseURL}}/images/logo.png" style="position:relative;top:50%;transform:translateY(-50%)" height="40px" width="100px"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li><a ui-sref="app.schedule">
                        <span class="glyphicon glyphicon-time"
                         aria-hidden="true"></span> Schedule</a></li>
                    <li><a ui-sref="app.messages">
                         <i class="fa fa-list-alt"
                         aria-hidden="true"></i>
                         Messages</a></li>
                     <li><a ui-sref="app.tours">
                     <i class="fa fa-bus"></i>
                      Tours</a></li>
                </ul>
            </div>
        </div>
    </nav>
