    <h1 class="title">Login</h1>
    (Reviewer - use simoncrown simoncrown for login)
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username"  ng-keypress="resetFailed()">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" ng-keypress="resetFailed()">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doLogin(loginData)">Log in</button>
        </label>
      </div>
    </form>

    <div class="warning" ng-show="loginFailed">LOGIN FAILED</div>
