<div class="container">
    <div class="row" ng-hide="loggedin">
      <div class="column">
        <img ng-src="{{baseURL}}/images/logo.png" alt="Crown Tours"></img>
        <div>
        This page is for members of the CrownTours packaged tour to Rome. Please refresh the page to log in.
        <p>If you are having difficulty logging in then contact our tour leader Mr Obama</p>
      </div>
      </div>
    </div>
    <div class="row toppad" ng-show="loggedin">
        <div class="column col-md-9 col-md-offset-1" syle="text-align:center">
            <h1 style="text-align:center" class="item item-body item-text-wrap header-bold icon-standard" align="center ">
         {{details.firstName}} {{details.secondName}} - Your Tour Page</h1>
        </div>
        <div class="column col-md-2">
        </div>
    </div>
    <div class=row ng-show="loggedin">
      <div class="column col-md-12">
        <h2>Your essential information</h2>
      </div>
    </div>
    <div class="row" ng-show="loggedin">
        <div class="column col-md-4">
            <img class="maxsize" ng-src="{{roomPic}} " alt="No picture available ">
        </div>
        <div class="column col-md-2">
          Your are sleeping in room: {{tourist.room}}
      </div>
      <div class="column col-md-2 ">
          <p>You are seated at table {{tourist.table}} in the dining room.</p><p> Please take care to sit only at this table.</p>
    </div>
    <div class="column col-md-4">
        <div>You are booked on the following tours:</div>
        <ul>
            <li ng-repeat="tour in tourist.tours ">{{tour.general.name}} on day {{tour.general.day}} - {{tour.general.startTime | date:'MM-dd HH:mm'}}</li>
        </ul>
        <div>
        See <a ui-sref="app.tours">tours</a> for more exciting tours.
      </div>
      </div>
    </div>

    <div class="row bigpad">
      <div class="column col-md-12">
        <h2>Our helpful staff - always there to take care of you</h2>
      </div>
    </div>

    <div class="row">
      <div class="column col-md-12">
    <div class="media" ng-repeat="member in staff">
      <div class="media-left">
         <a href="#" class="media-object">
           <img  ng-src="{{member.pic}}" alt="...">
         </a>
       </div>
       <div class="media-body">
         <h3 class="media-heading">{{member.details.firstName}} {{member.details.secondName}}</h3>
         <h4 class="media-heading">{{member.title}} </h4>
         {{member.description}}
         <div>
           <span class="fa  fa-envelope-o" aria-hidden="true"><a href="mailto:{{member.details.email}}"/>email</a></span>
           <span class="fa  fa-facebook-official" aria-hidden="true"><a href="href:{{member.details.facebook}}"/>Facebook</a></span>
           <span class="fa  fa-phone">Phone {{member.details.phone}}</span>
         </div>
       </div>
    </div>
  </div>
  </div>
</div>
