.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #7986CB;
  color: floralwhite;
}
.carousel {
  background: #ffb266;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #ffb266;
  color: #00a3db;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #ffb266;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #ffb266;
  color: #00a3db;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #ffb266;
  color: #00a3db;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #ffb266;
  color: #00a3db;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #ffb266;
  color: #00a3db;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #ffb266;
  color: #00a3db;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #3072ac;
  color: #00a3db;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #3072ac;
  color: #00a3db;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
.maxsize {
    position: relative;
    width:70%;
    height:70%;
    max-width: 800px;
    max-height : 800px;
}

.pad {
    padding: 5px 5px 5px 5px;
}
.bigpad {
    padding: 10px 10px 10px 10px;
}

.fakepad {
    height: 10px;
}

.bigtext{
  font-size:25px    ;
  font-weight:800;
}
.toppad {
    padding-top:15px;
}
