<div class=container>
  <div class="page-header">
    <h1 class="title" ng-hide="edit">Add Message</h1>
    <h1 class="title" ng-show="edit">Edit Message</h1>
  </div>
  <div class="container">
    <form>
      <div class="row">
        <label class="item item-input column col-md-12">
          <textarea rows="10" cols="30" ng-model="message.message" placeholder="Type your messsage here"></textarea>
       </label>

       <div class="row">
            <button class="column col-md-2 col-md-offset_2 tbutton button-block button-negative" ng-click="cancelAdd()">Cancel</button>
             <button class="column col-md-2 col-md-offset_2  button button-block button-positive" ng-click="saveMessage()">Save</button>
         </div>
      </div>
    </form>
  </div>
</div>
