
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div ng-if="!showDish">
                  <h3>{{message}}</h3>
                </div>
   
				<div class="media" ng-if="showDish">
                    <div class="media-left media-middle">
                       <a ui-sref="app.dishdetails({id: dish.id})">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Moxxxxnth's Promotions</h3>
            </div>
            
            <div ng-if="!showPromotion">
                  <h3>{{promotionMessage}}</h3>
            </div>
            <div class="col-xs-12 col-sm-9" ng-if="showPromotion">
             <div class="media">
		    <div class="media-body">
                <h2 class="media-heading">{{promotion.name}} <span class="label label-danger">New</span></h2>
                <p>{{promotion.description}}</p>
                <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
				</div>
			   <div class="media-left media-middle">
                       <a href="#">
                       <img class="media-object img-thumbnail" ng-src="{{promotion.image}}" alt="{{promotion.name}}">
                        </a>
              </div>
		      </div>	    
            </div>
        </div>

        <div class="row row-content">
            
            
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            
            <div ng-if="!showSpecialist">
                  <h3>{{specialistMessage}}</h3>
            </div>
            
            <div class="col-xs-12 col-sm-9 col-sm-pull-3" ng-if="showSpecialist">
                 <div class="media" >
                     <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src="{{chef.image}}" alt="{{chef.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                    <h3 class="media-heading">
                        {{chef.name}}
                        <small>{{chef.designation}}</small></h3>
                    <p>
                    {{chef.description}}
                    </p>   
                        
                    </div>
                
               </div>          
            </div>
        </div>
        
        
    </div>
