<div class="container">
  <div class="row toppad">
  <spinner name="mySpinner" on-loaded="getResource()">
     <h1 style="text-align:center">Loading...</h1>
   </spinner>
    <div class="panel panel-primary">
       <div class="panel-heading">Messages</div>

      <div class="panel-body" style="height:700px;
  overflow-y:scroll;">
    <div class="media" ng-repeat="message in messages">
      <div class="media-left">
         <img class="media-obbject" height="100px" width="100px" src="{{message.submitted.details.picture}}"/>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{message.submitted.details.firstName}} {{message.submitted.details.secondName}}</h4>
        <p class="ptext">{{message.message}}</p>
        <a href="mailto:{{message.submitted.details.email}}" ng-hide="{{message.mine}}"><i class="fa fa-envelope"></i> Mail </a>
        <a href="" class="assertive" ng-click="showAddMessage(message._id,message.message)" ng-show="{{message.mine}}">
          <span class="glyphicon glyphicon-edit"
           aria-hidden="true"></span> Edit  </a>
        <span  ng-click="confirmDelete(message._id)"><a class="assertive" style="padding-left:5px" href="" ng-show="{{message.mine}}" >
                <span class="glyphicon glyphicon-trash"
               aria-hidden="true"></span> Delete </a></span>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">

  <div class="column col-md-1 col-md-offset-11">
<button type="button" class="btn btn-primary" ng-click="showAddMessage()">Add</button>
</div>
</div>
</div>
