<div class="container" view-title="Schedule">
    <spinner name="scheduleSpinner" on-loaded="getResource()">
        <h1 style="text-align:center">Loading...</h1>
    </spinner>
    <div class="row">
        <div class="column">
            <h2 style="text-align:center">Schedule starting from day {{daySelected}} - {{day | date:"EEE d MMM"}}</h2>
            Select starting day :
            <select ng-model="daySelected" ng-init='1' ng-change="getSchedule(daySelected)" ng-options="day for day in dayOptions">
            </select>
        </div>
        <div class="row">
            <div class="column">
                <p></p>
                <ul class="list">
                    <li class="item item-text-wrap" ng-repeat="(day,events) in schedule | groupBy : 'day'" >
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Schedule for day {{day}}</h3>
                        </div>
                        <div class="panel-body">
                          <div ng-repeat="event in events | orderBy : 'startTime'">
                           {{event.startTime | date : "HH:mm"}} {{event.name}} - {{event.description}}
                         </div>
                        </div>
                      </div>
                    </li>
                </ul>
              </div>
        </div>
    </div>
