<div class="container">
    <div class="fakepad"></div>
    <div class="panel panel-primary" ng-repeat="trip in trips | orderBy : 'general.day'" ng-href="#/app/tourdetails/{{trip._id}}">
        <div class="panel-heading">{{trip.general.name}}</div>
        <div class="fakepad"></div>
        <div class="row">
            <div class="col-md-3">
                <img class="pad" height="150px" width="150px" src="{{trip.general.image}}" />
            </div>
            <div class="col-md-5">
                <p class="ptext">{{trip.general.description}}</p>
                <p>Day {{trip.general.day}} {{trip.general.startTime | date:'MM-dd HH:mm'}}
            </div>
            <div class="col-md-4">
                <div ng-repeat="event in trip.schedule">
                    <p>{{event.startTime | date:"HH:mm"}} {{event.name}}
                    </p> {{event.description}}</p>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="trip.amRegistered">
          <div class="col-md-offset-9">
          <span>{{trip.price | currency}}</span>
          <span class="label label-primary">{{trip.label}}</span>
          <button class="btn btn-primary" ng-click="buyTour(trip._id)">Buy</button>

        </div>
        </div>
        <div class="row" ng-show="trip.amRegistered">
          <div class="col-md-offset-9">
          <span class="label label-success" >You are going on this trip</span>
        </div>
      </div>
      <div class="fakepad"></div>
     </div>

</div>
