/* Empty. Add your own CSS if you like */
.ptext {
 color: #000;    font-weight: 500;
}

a, u {
    text-decoration: none;
}
.icon-standard {
  font-size: 15px;
}
.horizontal-padding{
  padding-bottom:5px;
}

.moveup-20 {
  position: relative;
  top : -130px;
}
.header-bold{
  font-weight: 700;
}
