<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Message</h1>
    <div class="buttons">
      <button class="button" ng-click="closeLogin()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">

<ion-item>
  <label class="item item-input ">
      <textarea rows="15" ng-model="message.message" placeholder="Type your messsage here"></textarea>
  </label>
    
    <label class="item">
          <button class="button button-block button-positive" ng-click="saveMessage()">Save</button>
    </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
