<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div> Coursera assessors - username simoncrown password simoncrown </div>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username"  ng-keypress="resetFailed()">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" ng-keypress="resetFailed()">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doLogin()">Log in</button>
        </label>
      </div>
    </form>

    <div class="warning" ng-show="loginFailed">LOGIN FAILED</div>
  </ion-content>
</ion-modal-view>
