<ion-view view-title="Messages">
<ion-floating-button click="addMessage()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
</ion-floating-button>
    
    
  <ion-content>
    <ion-list>
      <ion-item class="item-text-wrap" ng-repeat="message in messages">
            <div class="item-avatar" href="#">
              <img src="{{message.submitted.details.picture}}"/>             
              <p class="ptext">{{message.message}}</p>  
              <p>{{message.submitted.details.firstName}} {{message.submitted.details.secondName}}
              <a style="padding-left:5px" href="tel:{{message.submitted.details.phone}}" ng-hide="{{message.mine}}"><i class="icon ion-android-call"></i> Call  </a>
              <a style="padding-left:5px" href="mailto:{{message.submitted.details.email}}" ng-hide="{{message.mine}}"><i class="icon ion-email"></i> Mail </a>
              <a style="padding-left:5px" href="" class="assertive" ng-click="addMessage(message._id,message.message)" ng-show="{{message.mine}}"><i class="icon ion-edit"></i> Edit  </a>
              <span  ng-click="confirmDelete(message._id)"><a class="assertive" style="padding-left:5px" href="" ng-show="{{message.mine}}" ><i class="icon ion-trash-a"></i> Delete </a></span>                  
       </div>
        </ion-item>
    </ion-list>
    
    </ion-content>
</ion-view>