<ion-view view-title="My Page">

  <ion-content>

    <div class="card">
      <span class="item item-body item-text-wrap header-bold icon-standard" align="center ">
                 {{details.firstName}} {{details.secondName}} </span>


        <img class="full-image " height="20% " ng-src="{{roomPic}} " alt="No picture available ">
        <ul>
        <li class="icon-standard horizontal-padding">Room: {{tourist.room}}</li>
        <li><i class="icon ion-fork icon-standard "></i><i class="icon icon-standard ion-knife "> Table: {{tourist.table}}</i> </li>
      </ul>
      <p></p>
      <p class="icon-standard">You are booked on the following great tours :-
      <ul>
        <li ng-repeat="tour in tourist.tours">{{tour.general.name}} on day {{tour.general.day}} - {{tour.general.startTime | date:'MM-dd HH:mm'}}</li>
      </ul>
    </p>
      </div>


  </ion-content>

</ion-view>
