<ion-view view-title="Schedule">
  <ion-content>
    <h2 style="text-align:center">Day {{daySelected}} - {{day | date:"EEE d MMM"}}</h2>
    Select day : <select  ng-model="daySelected" ng-init='1' ng-change="getSchedule(daySelected)" ng-options="day for day in dayOptions">
    </select>
<p></p>
    <ul class="list">
      <li class="item item-text-wrap" ng-repeat="event in schedule | orderBy : 'startTime'" >
        {{event.startTime | date : "HH:mm"}} {{event.name}} - {{event.description}}  
      </li>
    </ul>


  </ion-content>
</ion-view>
