<ion-view view-title="Your Team">
  <ion-content>
    <ion-list type="list-inset">
      <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="member in staff">
        <img src="{{member.pic}}"/>
         <h2 class="ptext">{{member.details.firstName}} {{member.details.secondName}}</h2>
         <p class="ptext">{{member.title}}</p>
         <p class="ptext">{{member.description}}</p>
         <a style="padding-left:5px" href="tel:{{member.details.phone}}"><i class="icon ion-android-call"></i> Call  </a>
         <a style="padding-left:5px" href="mailto:{{message.details.email}}"><i class="icon ion-email"></i> Mail </a>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
