<ion-view view-title="Day Trips">
  <ion-content>
    <ion-list type="list-inset">
      <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="trip in trips | orderBy : 'general.day'"  ng-href="#/app/tourdetails/{{trip._id}}">
        <img src="{{trip.general.image}}"/>             
         <h2 class="ptext">{{trip.general.name}}</h2>
         <p class="ptext">{{trip.general.description}}</p>
         <p>Day {{trip.general.day}} {{trip.general.startTime | date:'MM-dd HH:mm'}}
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
