<ion-view view-title="Tour Details">

    <ion-floating-button ng-hide="trip.amRegistered" click="buyTour()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
</ion-floating-button>


  <ion-content>

        <div class="card">
              <div class="item item-body item-text-wrap">
                   <img class="full-image" height="20%" ng-src="{{baseURL+trip.general.image}}" alt="{{trip.general.name}}">
                    <h2><span style="font-weight:900">{{trip.general.name}}</span>
                     <span ng-hide="trip.amRegistered" style="float:right">{{trip.price | currency}}</span>
                    <span ng-hide="trip.amRegistered" class="badge badge-assertive">{{trip.label}}</span>
                    <span ng-show="trip.amRegistered" class="badge badge-calm">You are going on this trip</span>

                   </h2>
                    <p>{{trip.general.description}}</p>

              </div>
          </div>

          <div class="card">
                    <ul class="list">
                       <li style="font-weight:900" >Schedule &nbsp;&nbsp;&nbsp;</li>
                        <li ng-repeat="item in trip.schedule | orderBy:schedule.startTime">
                             <div syle="font-weight:700">{{item.startTime | date:"HH:mm"}} -
                                 {{item.name}}.</div>
                            <span class="list-item">{{item.description}}</span>
                        </li>
                    </ul>
            </div>

            <div class="card">
                    <ul class="list">
                       <li style="font-weight:900">Participants &nbsp;&nbsp;&nbsp;</li>
                        <li ng-repeat="person in trip.participants | orderBy:person.details.secondName">
                            {{person.details.firstName}} {{person.details.secondName}}
                        </li>
                    </ul>
            </div>

  </ion-content>
</ion-view>
