<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
  
    
    </style>
</head>

<body>


    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12"  >
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row">   
            <div class="col-xs-2 col-xs-offset-1"><strong>Customer Comments </strong> <label for="sortOrder"></div>
                <div class="col-xs-7">  Sort By:</label><input id="sortOrder" type="text" ng-model="sortOrder"/></div>
            </div>
            <div class="row">
            
            <div class="col-xs-9 col-xs-offset-1" ng-repeat="comment in dish.comments | orderBy:sortOrder"  >
                <blockquote>
                <p>{{comment.rating}} Stars</p>    
                <p>{{comment.comment}}</p>
                <footer>{{comment.author}}, {{comment.date | date}} </footer>    
                </blockquote>
            </div>
            </div>
            <div class="row">
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                
                <ul class="list-unstyled" ng-hide="commentForm.$pristine || commentForm.$invalid">
              <blockquote>
                <p> {{yourComment.rating}} Stars</p>    
                <p> {{yourComment.comment}}</p>
                <footer>{{yourComment.author}}</footer>    
                </blockquote>    
                </ul>
                
           
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                      <div class="form-group" ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                          <label for="name" class="col-sm-2 control-label">Your Name:</label>
                          <input class="col-sm-10" type="text" name="name" id="name" ng-model="yourComment.author" required>
                          <p ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">Your name is required.</p>    
                      </div>      
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Number of stars: </label>
                          <input name ="radioGroup" type="radio" value="1" ng-model="yourComment.rating" >1
                          <input name ="radioGroup" type="radio" value="2" ng-model="yourComment.rating" >2
                          <input name ="radioGroup" type="radio" value="3" ng-model="yourComment.rating" >3
                          <input name ="radioGroup" type="radio" value="4" ng-model="yourComment.rating" >4
                          <input name ="radioGroup" type="radio" value="5" ng-model="yourComment.rating" >5
                    </div>
                     <div class="form-group" ng-class="{ 'has-error' : commentForm.thiscomment.$error.required && !commentForm.thiscomment.$pristine }">
                         <label for="thiscomment" class="col-sm-2 control-label">Comments: </label>
                         <textarea class="col-sm-10" rows="5" name="thiscomment" id="thiscomment" ng-model="yourComment.comment" required></textarea>
                         <p class="col-sm-10 col-sm-offset-2 help-block"  ng-show="commentForm.thiscomment.$error.required && !commentForm.thiscomment.$pristine" 
                            >Your comments are required.</p>   
                    </div>
                    
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>

    </div>

<!-- build:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
<!-- endbuild -->

</body>

</html>
